@import "tailwindcss";

@theme {
    --font-sans: 'Roboto', sans-serif;

    --color-background: #FFFFFF;
    --color-background-light: #F7F7F7;
    --color-background-light-hover: #e7e5e4;
    --color-background-dark: #1e1e1e;
    --color-text-primary: rgba(0, 0, 0, 0.8);
    --color-text-secondary: rgba(0, 0, 0, 0.55);
    --color-text-dark: #dfdfdf;
    --color-text-dark-mute: #979797;
    --color-orange: #F75B00;
    --color-link: #0D74E3;

    --color-accent-blue: #0096C6;
    --color-accent-green: #00A33F;
    --color-accent-purple: #AC3EF5;
    --color-accent-teal: #005E66;
    --color-accent-red: #B22B00;
    --color-accent-darkblue: #3622BB;
    --color-accent-orange: #FF9F0A;

    --animate-click: button-pop 0.2s ease-out;

    @keyframes button-pop {
        0% {
            transform: scale(0.97);
        }

        40% {
            transform: scale(1.02);
        }

        100% {
            transform: scale(1);
        }
    }
}

@utility break-right {
    margin-right: calc(-1 * ((max(80rem, 100vw) / 2) - (80rem / 2)));
}

@utility break-left {
    margin-left: calc(-1 * ((max(80rem, 100vw) / 2) - (80rem / 2)));
}

@custom-variant dialog-open (&[open]);

@layer base {
    p {
        font-size: var(--text-lg);
    }

    @media (min-width: theme('screens.sm')) {
        p {
            font-size: var(--text-xl);
            line-height: 2rem;
        }
    }

    h1 {
        font-size: var(--text-4xl);
        line-height: 3rem;
        font-weight: bold;
    }

    @media (min-width: theme('screens.sm')) {
        h1 {
            font-size: var(--text-6xl);
            line-height: 4.5rem;
        }
    }

    h2 {
        font-size: var(--text-4xl);
        line-height: 3rem;
        font-weight: bold;
    }

    @media (min-width: theme('screens.sm')) {
        h2 {
            font-size: var(--text-6xl);
            line-height: 4.5rem;
        }
    }
}