---
import { Image } from "astro:assets";
---

<div class="mx-auto">
	<div class="mx-auto grid max-w-6xl place-items-center 2xl:px-0">
		<div class="relative p-16 sm:p-24">
			<Image
				class="absolute top-0 left-0 z-10 h-full w-full"
				src="/blob-blue.svg"
				alt="blob"
				height={100}
				width={20}
			/>
			<slot />
		</div>
	</div>
</div>
