<div class="mx-auto">
	<div
		class="mx-auto grid max-w-6xl place-items-center bg-[url(/blob-blue.svg)] bg-[position:-50px_0px] bg-no-repeat px-16 py-24 sm:bg-auto sm:bg-[position:150px_0px] xl:px-0"
	>
		<slot />
	</div>
</div>
