<div class="bg-background-light mx-auto mt-6 max-w-4xl rounded-lg p-  text-center sm:mt-12 sm:p-6">
	<h2 class="mt-4 text-2xl font-bold sm:mt-8 sm:text-3xl">Need help selecting the right plan?</h2>
	<div
		class="mx-auto flex w-full max-w-6xl flex-col items-center justify-center gap-4 py-8 text-lg sm:flex-row sm:gap-0 sm:py-12 sm:text-xl"
	>
		<span class="mb-2 text-center sm:mb-0"
			>Talk to one of our advisors by calling
			<a
				href="tel:18662788796"
				class="text-accent-blue inline-block px-2 py-1 font-semibold hover:underline"
			>
				(866) 278-8796
			</a>
		</span>
	</div>
</div>
