---
import CTA from "./CTA.astro";

interface Props {
	title: string;
	cardsTitle: string;
	titleColor?: string;
}
const { title, cardsTitle, titleColor = "text-text-primary" } = Astro.props;
---

<section class={`mx-auto sm:max-w-7xl my-8 sm:my-32 max-w-screen overflow-clip`}>
	<div class={`flex flex-col justify-center text-center items-center `}>
		<div class={`px-4 2xl:px-0 h-full flex flex-col justify-between gap-4 sm:gap-8`}>
			<div class="mx-auto max-w-4xl px-4 2xl:px-0">
				<h2 class={`mb-4 sm:mb-8 ${titleColor}`}>{title}</h2>
				<slot />
			</div>
			<div
				class={`${titleColor === "text-text-primary" ? "bg-white" : "bg-background-light"}  w-screen py-4 sm:py-12`}
			>
				<CTA cardsTitle={cardsTitle} />
			</div>
		</div>
	</div>
</section>
