---
import { Picture } from "astro:assets";
import header from "../../assets/why/headerx.jpg";
interface Props {
	title: string;
	titleColor?: string;
}
const { title, titleColor = "text-text-primary" } = Astro.props;
---

<section class={`mt-8 sm:mt-32`}>
	<div class={`flex flex-col justify-center text-center items-center`}>
		<div class={`px-4 xl:px-0 h-full flex flex-col justify-between gap-4 sm:gap-8`}>
			<div class="mx-auto max-w-4xl">
				<h1 class={`mb-4 text-4xl/12 font-bold sm:mb-8 sm:text-6xl/18 ${titleColor}`}>{title}</h1>
				<slot />
			</div>
		</div>
	</div>
	<div class="w-screen pt-8 sm:pt-16">
		<Picture
			src={header}
			alt={title}
			sizes="100vw"
			formats={["avif", "webp"]}
			fallbackFormat="jpg"
			widths={[400, 800, 1600, 2400]}
			class="h-full w-full rounded-lg object-cover object-[position:0_10%]"
		/>
	</div>
</section>
