---
import CTA from "./CTA.astro";

interface Props {
	title: string;
	cardsTitle: string;
	titleColor?: string;
}
const { title, cardsTitle, titleColor = "text-text-primary" } = Astro.props;
---

<section
	class={`mx-auto sm:max-w-3xl lg:max-w-7xl my-8 sm:my-32 max-w-screen px-4 sm:px-6 md:px-8 2xl:px-0`}
>
	<div class="text-center">
		<div class={`lg:py-0 h-full flex flex-col justify-between gap-4 sm:gap-8`}>
			<div class="mx-auto max-w-4xl">
				<h2 class={`mb-4 sm:mb-8 ${titleColor}`}>{title}</h2>
				<slot />
			</div>
			<div class={`${titleColor === "text-text-primary" ? "bg-white" : "bg-background-light"}`}>
				<CTA cardsTitle={cardsTitle} />
			</div>
		</div>
	</div>
</section>
