---
import { Picture } from "astro:assets";

const imageModules = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/logos/*.{jpeg,jpg,png,svg,webp}",
);
---

<div class="bg-background-light-hover w-screen">
	<div
		class="mx-auto flex h-full max-w-7xl flex-col items-center justify-between gap-4 p-4 sm:flex-row sm:gap-16 sm:p-0 sm:py-8"
	>
		<p class="text-sm sm:text-base">Featured on top Apple & business news sources:</p>
		<div class="flex grow flex-wrap items-center justify-center gap-4 sm:justify-between">
			{
				Object.keys(imageModules).map(async (image) => {
					const imageSrc = await imageModules[image]();
					return (
						<div class="h-5 w-auto sm:h-7">
							<Picture
								sizes="300px"
								widths={[200, 400, 800]}
								class="h-full w-full object-contain"
								formats={["avif", "webp"]}
								fallbackFormat="jpeg"
								src={imageSrc.default}
								alt={image}
							/>
						</div>
					);
				})
			}
		</div>
	</div>
</div>
