---
import { Picture } from "astro:assets";

const imageModules = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/logos/*.{jpeg,jpg,png,svg,webp}",
);

const { border = true } = Astro.props;
---

<div
	class={`bg-background-light w-screen ${border ? "border-b border-background-light-hover" : ""} px-4 2xl:px-0`}
>
	<div
		class={`mx-auto flex h-full max-w-7xl flex-col items-center justify-between gap-4 py-6 sm:p-6 lg:flex-row lg:gap-16 ${border ? "sm:p-0 sm:py-16" : "sm:p-0 sm:py-8"}`}
	>
		<p class="text-text-secondary text-sm sm:text-base">
			Featured on top Apple & business news sources:
		</p>
		<ul
			class="mx-auto flex max-w-7xl grow flex-col flex-wrap items-center justify-center gap-4 sm:flex-row lg:justify-start lg:gap-8 xl:justify-between"
		>
			{
				Object.keys(imageModules).map(async (image) => {
					const imageSrc = await imageModules[image]();
					return (
						<li class="h-5 flex-shrink-0 flex-grow-0 basis-auto xl:h-6">
							<Picture
								sizes="100px"
								widths={[300, 600]}
								class="h-full w-full object-contain"
								formats={["avif", "webp"]}
								fallbackFormat="jpeg"
								src={imageSrc.default}
								alt={image}
							/>
						</li>
					);
				})
			}
		</ul>
	</div>
</div>
