---
const { author, position, quote } = Astro.props;
---

<div class="border-text-secondary/20 mx-2 border-y sm:mx-0 sm:border-0">
	<figure
		class="border-l-orange border-text-secondary/20 relative mx-auto my-6 max-w-3xl border-y-0 border-l-4 pt-4 sm:my-8 sm:border-y sm:border-l-0 sm:py-6 sm:pt-10"
	>
		<span class="absolute top-8 left-0 hidden font-serif text-9xl text-gray-200 sm:block">“</span>
		<blockquote class="relative z-10 p-4 text-center leading-relaxed sm:px-20 sm:text-lg">
			{quote}
		</blockquote>
		<span class="absolute right-0 -bottom-8 hidden font-serif text-9xl text-gray-200 sm:block"
			>”</span
		>
		<figcaption class="mt-10 text-center">
			<div class="text-text-primary font-semibold">{author}</div>
			<div class="text-text-secondary mt-1">{position}</div>
		</figcaption>
	</figure>
</div>
