---
import { Picture } from "astro:assets";
import Button from "./Button.astro";

const imageModules = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/staff/*.{jpeg,jpg,png,svg,webp}",
);
---

<div class="my-12 w-screen px-4 sm:px-6 md:my-32 md:px-8 lg:py-0 2xl:px-0">
	<div
		class="mx-auto flex h-full max-w-7xl flex-col-reverse items-center justify-evenly gap-4 sm:p-4 md:flex-row md:items-start md:gap-16 md:p-0 md:py-8"
	>
		<div
			class="grid grid-cols-2 items-center justify-center gap-4 gap-y-4 sm:w-3/4 sm:grid-cols-3 md:justify-between md:gap-8 md:gap-y-8"
		>
			{
				Object.keys(imageModules).map(async (image) => {
					const imageSrc = await imageModules[image]();
					return (
						<div class="p-4">
							<Picture
								sizes="300px"
								widths={[200, 400, 800]}
								class="mx-auto h-full w-full max-w-28 object-contain sm:min-w-24"
								formats={["avif", "webp"]}
								fallbackFormat="jpeg"
								src={imageSrc.default}
								alt={image}
							/>
							<p class="mt-4 text-center text-lg font-bold capitalize md:text-xl">
								{image.split("/").pop()!.split(".")[0]}
							</p>
						</div>
					);
				})
			}
		</div>
		<div
			class="mx-auto flex h-full max-w-3xl flex-col justify-start gap-4 text-center sm:w-1/2 md:gap-8 md:text-start"
		>
			<div>
				<p
					class={`text-lg font-semibold tracking-wide uppercase md:text-xl/10 text-text-secondary mb-2 md:mb-0`}
				>
					Get Started
				</p>
				<h2>We're Here to Help</h2>
			</div>
			<p>
				While Daylite is intuitive and faster to onboard than most CRMs and Project Management
				tools, learning a new system takes time and can feel overwhelming. We're here to help you
				get set up for success with both free and paid services for starting small or going big.
			</p>
			<Button
				buttonText="Talk to an Advisor"
				link="https://marketcircle.as.me/15-minute-daylite-demo/"
				type="filledBlue"
				class="mx-auto w-52 py-5 md:mx-0"
			/>
		</div>
	</div>
</div>
